@model MyApp.PL.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Main css: -->
    <link href="~/Content/Admin.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/Images/logo_1.png" id="icon" alt="User Icon" />
            </div>
            @if (ViewBag.check == false)
            {
                <h5 style="color:red;font-family:'Times New Roman'">@ViewBag.err[0]</h5>
            }
            else { }
            <!-- Login Form -->
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    @Html.TextBoxFor(model => model.F_Name, new { @class = "fadeIn second", @placeholder = "First Name" })

                    @Html.TextBoxFor(model => model.L_Name, new { @class = "fadeIn second", @placeholder = "Last Name" })

                    @Html.TextBoxFor(model => model.Age, new { @class = "fadeIn second", @placeholder = "Age" })

                    @Html.TextBoxFor(model => model.Email, new { @class = "fadeIn second", @placeholder = "Email" })

                    @Html.TextBoxFor(model => model.Phone, new { @class = "fadeIn second", @placeholder = "Phone number" })

                    @Html.TextBoxFor(model => model.Login, new { @class = "fadeIn second", @placeholder = "Login" })

                    @Html.TextBoxFor(model => model.Password, new { @class = "fadeIn second", @placeholder = "Password" })

                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "fadeIn second", @placeholder = "ConfirmPassword" })
                </fieldset>
                <input type="submit" class="fadeIn fourth" value="Sign Up">
            }

            <div id="formFooter">
                Back to Login form?  @Html.ActionLink("-> Here", "Login", "Account", "", new { @class = "underlineHover" })
            </div>

        </div>
    </div>
</body>
</html>
